/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
/* header */
header {
  background: rgba(218, 167, 167, 0.9);
  width: 100%;
  position: relative; }

.menu {
  width: 80%;
  margin: auto;
  overflow: hidden; }
  .menu a {
    text-decoration: none;
    color: white; }
    .menu a:hover {
      color: black; }
/* main */
.main {
  margin: 5px;
  padding: 5px; }
  .main .section1 {
    background-color: deepskyblue; }
    .main .section1 .parrafo1 {
      font-size: 30px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      color: white; }
  .main .section2 {
    background-color: red; }
    .main .section2 .parrafo2 {
      font-size: 30px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      color: yellow; }
  .main .section3 {
    background-color: deepskyblue; }
    .main .section3 .parrafo3 {
      font-size: 30px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      color: white; }

.caja, .caja .cajaRoja, .caja .cajaNegra {
  width: 70%;
  background-color: deepskyblue;
  padding: 0.5rem;
  margin: 1rem;
  display: flex; }
  .caja .cajaRoja {
    border: 5px red;
    background-color: yellow; }
  .caja .cajaNegra {
    border: 3px black; }
/* footer */
footer {
  background-color: rgba(218, 167, 167, 0.9);
  margin: 5px;
  padding: 5px; }
  footer .pie {
    font-size: 20px;
    font-family: cursive;
    color: white; }
