
header{
    background: $color_rosita;
    width: 100%;
    position: relative;
}

.menu{
    width: 80%;
    margin: auto;
    overflow:hidden;
    a{
    text-decoration: none;
    color: $color_blanco;
    &:hover{
        color: $color_negro;
    }
    }
}

